<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<!--    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">-->
    <meta charset="utf-8">

    <title>Ellie Paul</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"> 

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
			   <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Ellie Paul</h1>
		</br>
        <h3> Projects <h3>
      </div>
    </div>


	<!-- *************************************
	Project Info
	-->
	<div class="container"> 
	<h3></h3>
	<p></p>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/elliepaul2" target="_blank">View Repository</a>
	</div>
	
	<div>
	</br>
	</div>

	<h3> Liquor Sales In The State of Iowa 2020</h3>
	<p> Using data provided by the state of Iowa liquor sales, this project analyzed liquor sales across different cities in Iowa. We specifically looked at different liquor types and products and their sales in college towns..</p>
	<p>This project was completed using SQL and Tableau. </p>
	
	 <div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/elliepaul2/Data-Management-and-Visual-Analytics" target="_blank">View Repository</a>
	</div> 
	  
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/DataManagementVisualAnalyticsFinalReport.pdf" target="_blank">View Report</a>
	</div>
	
	<div>
	</br>
	</div>
	
	<h3> Fenty Beauty Network and Text Analysis - 2020</h3>
	<p>In this project, my team and I looked at Fenty Beauty's instagram followers and conducted a network analysis to determine which users would make the best influencers for the brand. We also conducted text analysis to see what people are saying about the brand and what products they are talking about the most..</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/elliepaul2/Social-Analytics" target="_blank">View Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Social Analytics Fenty.pdf" target="_blank">View Report</a>
	</div>


	<div>
	</br>
	</div>
	
	
	

	
 
	</div>
	
	
  </main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <h5> Get in touch </h5>
    <ul>
	  <a href="mailto:ellie-paul@uiowa.edu"><li>Email</li></a>
	  <li class="customclass"> | </li>
	  <a  href="https://github.com/elliepaul2"><li>GitHub</li></a>
	  <li class="customclass"> | </li>
	  <a  href="https://linkedin.com/in/ellie-paul/"><li>LinkedIn</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>